---
import { JOBS } from '@/consts';
---

<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Work experience"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-evergreen-950/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2
      class="text-sm font-bold uppercase tracking-widest text-evergreen-100 lg:sr-only"
    >
      Experience
    </h2>
  </div>

  <div>
    <ol class="group/list">
      {
        JOBS.map((job, idx) => (
          <li class="mb-12">
            <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
              <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-evergreen-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>

              <header
                class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-evergreen-600 sm:col-span-2"
                aria-label={`${job.dateStart} to ${job.dateEnd}`}
              >
                {job.dateStart} — {job.dateEnd}
              </header>

              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-evergreen-100">
                  <div>
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-evergreen-100 hover:text-evergreen-400 focus-visible:text-evergreen-400 group/link text-base"
                      href={`https://${job.company.toLowerCase().replace(/\s+/g, '')}.com`}
                      target="_blank"
                      rel="noreferrer noopener"
                    >
                      <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                      <span>
                        {job.position} ·{' '}
                        <span class="inline-block">
                          {job.company}
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      </span>
                    </a>
                  </div>
                </h3>

                <p class="mt-2 text-sm leading-normal">{job.description}</p>

                <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                  {job.technologies.map((tech) => (
                    <li class="mr-1.5 mt-2">
                      <div class="flex items-center rounded-full bg-evergreen-400/10 px-3 py-1 text-xs font-medium leading-5 text-evergreen-400">
                        {tech}
                      </div>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </li>
        ))
      }
    </ol>

    <a
      href="https://drive.google.com/file/d/1OjM1l-Db4Zx674wx8tVSLMC4nkg1smZI/view"
      target="_blank"
      rel="noreferrer noopener"
      class="inline-flex items-center font-medium text-evergreen-100 hover:text-evergreen-400 focus-visible:text-evergreen-400 group/link mt-12"
      aria-label="View Full Résumé (opens in a new tab)"
    >
      <span>View Full Résumé</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="ml-3 h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
  </div>
</section>
